button, a.btn {
    background: transparent;
    border: 3px solid $color-primary;
    color: inherit;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 35px;
    &:hover {
        background-color: $color-primary;
        color: #000;
    }
}