.service-card {
    background: radial-gradient(circle at 87% 93%, $color-gradient-1 0%, $color-gradient-2 100%);
    color: #fff;
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 25px rgba($color-shadow, .78);
    .text {
        margin-bottom: 12px;
        font-family: $font-abc-book;
        font-size: $font-text-xs;
        padding-right: 40px;
    }
    h3 {
        margin-bottom: 28px;
        font-family: $font-abc;
        font-weight: 500;
    }
    .icon {
        text-align: right;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    gap: 32px;
    .service-card {
        max-width: 330px;
        &:first-child {
            margin-top: 80px;
        }
        &:last-child {
            margin-bottom: 80px;
        }
    }
}

.mini-card {
    background: radial-gradient(circle at 13% 80%, $color-gradient-1 0%, $color-gradient-2 100%);
    display: flex;
    padding: 24px;
    color: #fff;
    gap: 15px;
    align-items: center;
    .icon {
        align-items: center;
        border-radius: 4px;
        background-color: $color-primary;
        display: flex;
        height: inherit;
        justify-content: center;
        flex-shrink: 0;
        width: 64px;
        height: 64px;
    }
}