header {
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(#333, .5);
    z-index: 999;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
    a {
        color: #C1C1C1;
        font-family: $font-abc-mono;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}