$font-orbitron: 'Orbitron', sans-serif;
$font-atkinson: 'Atkinson Hyperlegible', sans-serif;
$font-abc: 'ABC Favorit', sans-serif;
$font-abc-book: 'ABC Favorit Book', sans-serif;
$font-abc-mono: 'ABC Favorit Mono', sans-serif;

$font-text-xs: 16px;
$font-text-sm: 18px;
$font-text-md: 20px;
$font-text-lg: 24px;


$color-primary: #39FC96;
$color-secondary: #6161EF;
$color-tertiary: #3181E2;
$color-auxiliar-1: #71C16B;
$color-gradient-1: #194737;
$color-gradient-2: #101113;
$color-shadow: #364741;